name: main

on:
  schedule:
    - cron: "1 0 * * *"
  workflow_dispatch:
    inputs:
      update_data:
        description: 'Manually run node files'
        required: true
        default: 'Running files!'

jobs:
  run-files:
    runs-on: ubuntu-latest
    container: 
      image: zenika/alpine-chrome:with-node
      options: --user 1001
      env:
        PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
        PUPPETEER_EXECUTABLE_PATH: /usr/bin/chromium-browser
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - run: node src/node/scrape.js
      - run: node src/node/horizons.js

      - name: Push changes
        run: |
          git config --global user.name 'HarisVidimlic19'
          git config --global user.email 'hvidimlic1234@hotmail.com' 
          git add .
          git commit -am "Automated data import"
          git push